################################################################################
#                                                                              #
#   This file has been managed by Ansible.                                     #
#                                                                              #
################################################################################
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCm9JlcwURrZQw5FwLU0WaWjPfcAWqlmXbJhoKeBcDUZXz3lDmGxPVo60DjblvH+HG0FPsIdTdoCqRgqLrE5UaIfMHeqbOJSQ4zoYsdlFdGbCw3UK5enQJ8NNuU17m3bOcvtEGuD64dJpj8MmqHS3pGZe1DsY/WsWlkaswwdOj+Mti2DZVpbPw1rGbrLrAcf0W6yrlOyJedOchvCSwvk6/Tsb4pUeycpS1iistmJlQV4laK1Yi/Jx4efpI5oQVRlF7n1ikcrB7Q9kc029JGx28aTEqBoBW6r2eMJ9sMq4iw6Li/51DQfT8zl8fGhsNHOxyT6DCfwGDwaobQ2OA/z24J sysop@cobbler
