################################################################################
#                                                                              #
#   This file has been managed by Ansible.                                     #
#                                                                              #
################################################################################
{{ inventory_hostname }}
