################################################################################
#                                                                              #
#   This file has been managed by Ansible.                                     #
#                                                                              #
################################################################################
nameserver 1.1.1.1
nameserver 1.0.0.1
