################################################################################
#                                                                              #
#   This file has been managed by Ansible.                                     #
#                                                                              #
################################################################################
suser ALL=(ALL:ALL) NOPASSWD: ALL
